<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @job.employee_id %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @job.due_date %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
